.company-box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.company-container {
  color: white;
  background: #ec4c8a;
  flex-grow: 2;
}

.company-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center 20%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #ce4176);
  box-shadow: 0 3px 7px #5a2828;
  margin-bottom: 10px;
}

.profile-image {
  margin: 20px;
  box-shadow: 6px 6px 3px #000;
  background: white;
}

.company-header > div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}

.company-body {
  display: flex;
  flex-wrap: wrap;
  background: #ec4c8a;
  justify-content: center;
}

.company-body > div {
  background: #ec4c8a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px 0 20px;
}

.company-attribute {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
  font-size: 10px;
}

.profile-description {
  font-size: 12px;
  margin: 10px 20px 30px 10px;
}

.profile-symbol {
  font-size: 37px;
  margin: 10px;
}

.profile-companyName {
  margin: 10px;
}

.header {
  background-color: #000;
  color: white;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.profile-currency {
  font-size: 20px;
}
