.symbols-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #ec4c8a;
}

.symbols-container > div:nth-child(even) {
  background: #fb5092;
  background-image: url('https://jaflih.github.io/ScienceFestivalSite/assets/images/program_bg.png');
  background-size: 3px;
}

.symbols-container > div:nth-child(-10) {
  background: #cf4278;
}

.symbol-link {
  margin: 10px 20px;
}

.symbol-container {
  width: calc(1 / 3 * 100% - 1rem);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.symbol-info {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 20px;
}

.symbol-price {
  font-size: 25px;
  margin-top: 20px;
}

.symbol-name {
  font-size: 12px;
}

.symbol-symbol {
  font-size: 20px;
}

.symbols-not-found {
  margin-top: 50px;
  padding: 20px;
  color: white;
}

@media (min-width: 950px) {
  .symbol-container {
    width: calc(1 / 5 * 100% - 1rem);
  }
}

@media (max-width: 600px) {
  .symbol-container {
    width: calc(1 / 2 * 100% - 1rem);
    border-bottom: 1px solid #fb509275;
  }

  .symbols-container > div:nth-child(even) {
    background: none;
  }

  .symbols-container > div:nth-child(4n),
  .symbols-container > div:nth-child(4n + 1) {
    background: #fb5092;
    background-image: url('https://jaflih.github.io/ScienceFestivalSite/assets/images/program_bg.png');
    background-size: 3px;
  }

  .symbols-container > div:nth-child(-10) {
    background: #cf4278;
  }
}
